/**
  Large Tab icon
  icon.png = 40X40px
  [menu name] = .info => features[menu][] = "forms"
  #features-menu li a.icon-[menu name] span.icon
*/
#features-menu li a.icon-forms span.icon { 
  background: url(icon.png) no-repeat; 
}

/**
  Create content, small icon
  icon-small.png = 20X20px
  [project name] = .info => project = "oa_webform"
  span.spaces-feature.feature-[project name]
*/
span.spaces-feature.feature-oa_webform {
  background: url(icon-small.png) no-repeat;
}

span.spaces-feature.node-webform_report {
  background: url(icon-small.png) no-repeat;
}



/* hiding node author block */
body.page-forms div.node-submitted {
  display: none;
}

/* styling Go to Form / Add New Entry to Form button */
body.page-forms div.node-webform div.node-content ul {
  margin: 0;
}
body.page-forms div.node-webform div.node-links {
  background: none;
}
body.page-forms div.node-links ul.links {
  float: left;
}
body.page-forms ul.links li.webform_goto a {
  background: url("/profiles/openatrium/themes/ginkgo/images/sprite_bleeds.png") repeat-x scroll 0 -400px #666666;
  border: 1px solid #555;
  border-color: #555 #555 #333;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  padding: 1px 5px;
  text-shadow: 0 1px 0 #444;
  -moz-border-radius: 5px;
}
body.page-forms ul.links li.webform_goto a:active {
  background-position: 0 100%;
}
body.page-forms ul.links:hover {
  background: transparent;
}

/* Reports list title area */
body.page-forms h2.fieldset-title {
  position: relative;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
body.page-forms h2.fieldset-title small a {
  margin-left: 20px;
  padding: 0;
  display: inline;
}
body.page-forms h2.fieldset-title small a {
}

div.view-id-oa_custom_webform div.item-list li.views-row div.views-field div.node-content {
  float: left;
}
div.view-id-oa_custom_webform div.item-list li.views-row div.views-field div.node-links {
  float: right;
}


/* Reports list */
body.page-forms ul.reportslist {
  margin: 0;
  padding: 10px;
  min-height: 25px;
}
body.page-forms ul.reportslist li {
  margin: 0;
  padding: 0 5px;
  border: 0;
}
body.page-forms ul.reportslist li ul li a {
  display: block;
  border-radius: 5px;
  padding: 3px 0 3px 10px;
  -moz-border-radius: 5px;
}
body.page-forms ul.reportslist li ul li a:hover {
  background-color: #efefef;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* Border around the oa_custom_webform view LI's */
div.view-id-oa_custom_webform div.item-list li.views-row {
  margin-bottom: 5px;
}
div.view-id-oa_custom_webform div.item-list li.views-row-last {
  margin-bottom: 0;
}
/* Hide a copule of blank areas */
div.view-id-oa_custom_webform div.item-list li.views-row div.views-field.nothing {
  display: none;
}
div.view-id-oa_custom_webform div.item-list li.views-row div.views-field div.node-webform {
  border: 0;
  margin: 0;
  padding-bottom: 5px;
}

